.header {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-top: 8px;
  padding: 1em 8em;
}

.header .logo {
  width: 200px;
}

/* .header {
  color: white;
} */

.header form {
  display: flex;
  width: 70%;
}

.header form input {
  font-size: 16px;
  height: 35px - 8px;
  padding: 8px;
  width: 100%;
}

.container {
  padding: 1em 8em;
}

.container.home {
  display: flex;
}

.container.home .sidebar {
  margin-right: 20px;
  width: 290px;
}

.container.home .sidebar ul {
  padding-left: 0;
}

.container.home .sidebar ul li {
  list-style: none;
  padding: 9px 0;
}

.container.home .content {
  width: 100% - 310px;
}

.container.home .content h2 {
  font-weight: 400;
}
